@forward "./reset";
@forward "./typography";
@forward "./variables";
@forward "./animation";

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 3rem;
}

hr {
    border-top: calc(var(--border-size) * 2) solid var(--clr-primary);
}

header {
    margin-bottom: calc(var(--spacer) * 4);
}

/* Highlight */
p.highlighted {
    padding: 1rem;
    border-radius: var(--border-radius-xs);
    background-color: var(--clr-primary-neutral);
}

/* Code */
code {
    display: block;
    width: var(--max-chars);
    padding: 1.5rem;
    background-color: var(--clr-neutral);
    border-radius: var(--border-radius-xs);
}
