@forward "./reset";
@forward "./typography";
@forward "./variables";
@forward "./animation";

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 3rem;
}

hr {
    border-top: calc(var(--border-size) * 2) solid var(--clr-primary);
}
