.page {
    border: var(--window-border-size) solid var(--clr-primary);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    a:visited {
        color: var(--clr-primary);
    }

    ::selection {
        background: var(--clr-primary);
        color: var(--clr-neutral-min);
        text-shadow: none;
    }
}

.page--home {
    --clr-primary: var(--clr-purple-blue);
    --clr-primary-neutral: var(--clr-purple-blue-neutral);
}

.page--category-1 {
    --clr-primary: var(--clr-pink);
    --clr-primary-neutral: var(--clr-pink-neutral);
}

.page--category-2 {
    --clr-primary: var(--clr-green);
    --clr-primary-neutral: var(--clr-green-neutral);
}

.page--category-3 {
    --clr-primary: var(--clr-purple);
    --clr-primary-neutral: var(--clr-purple-neutral);
}
